#LLM API Keys - Get your own from the services
GEMINI_API_KEY=""
GEMINI_MODEL="gemini-2.5-flash-lite-preview-06-17"
OPENAI_API_KEY=""


#Input folders for local ingestion - Feel free to change these
ADHOC_INPUT_FOLDER="input/adhoc"
MAIN_INPUT_FOLDER="input/main"

#DB VIEWS MANAGEMENT CONFIG
# Controls default strategy. Options: development|production
DAGSTER_ENVIRONMENT="production"
 # Always update in dev
FORCE_VIEW_UPDATES_DEV=true
# Enable/disable hash tracking
VIEW_HASH_TRACKING=true
# Future: backup before updates (not implemented yet)
BACKUP_VIEWS=true

#Output folder for job search report from Stage layer - Feel free to change
JOB_SEARCH_OUTPUT_FOLDER="output"

#Google BigQuery Authentication - Not needed for Snowflake Deployment
GCP_PROJECT_ID=""
GCP_DATASET_ID=""
GCP_LOCATION=""
GCP_CREDENTIALS = ""


#Snowflake - for authentication
SNOWFLAKE_ACCOUNT=""
SNOWFLAKE_USER=""
SNOWFLAKE_PASSWORD=""
# To use a role with limited access, switch to BETTERJOBS_ROLE
SNOWFLAKE_ROLE="ACCOUNTADMIN"

#AWS S3 Authentication
S3_URI="s3://betterjobs-dagster/master_urls_csv/"
S3_BUCKET_NAME="betterjobs-dagster"
#Get your own AWS Access Key and ID
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_REGION=""

#Snowflake - for Storage Integration - CAN BE OPTIONAL IF USING LOCAL INGESTION ONLY
#Follow S3_SNOWFLAKE_SETUP.md to get value
SNOWFLAKE_S3_ROLE_ARN=""
#Need an AWS account and S3 service to create the bucket
SNOWFLAKE_S3_BUCKET_URL="s3://betterjobs-dagster/"
#Folder inside the buckets for S3 files staging
SNOWFLAKE_S3_COMPANY_URLS_URL="s3://betterjobs-dagster/master_urls_csv/"
SNOWFLAKE_S3_COMPANY_PROFILES_URL="s3://betterjobs-dagster/companies_profile_csv/"

#Some of these env variables are used in area of the codebase
SNOWFLAKE_WAREHOUSE="BETTERJOBS_WH"
SNOWFLAKE_DATABASE="BETTERJOBS_DB"
SNOWFLAKE_RAW_SCHEMA="RAW"
SNOWFLAKE_STAGE_SCHEMA="STAGE"
SNOWFLAKE_ANALYTICS_SCHEMA="ANALYTICS"
SNOWFLAKE_INTERNAL_SCHEMA="INTERNAL"
SNOWFLAKE_SERVE_SCHEMA="SERVE"



